.idea
Cargo.lock

#object file
*.o

#library
*.a

#share object
*.so
*.so.*

#generated proxy
*_u.c
*_u.h
*_t.c
*_t.h

#generated sample files
samplecode/**/target
#samplecode/**/bin/*[!md]

#generated assembly
third_party/ring/pregenerated
