.idea
Cargo.lock

#object file
*.o

#app
app

#library
*.a

#share object
*.so
*.so.*

#generated proxy
samplecode/**/*_u.c
samplecode/**/*_u.h
samplecode/**/*_t.c
samplecode/**/*_t.h
samplecode/**/bin/app

**/target

#generated assembly
third_party/ring/pregenerated

#Bazel
.clwb
bazel-bin
bazel-genfiles
bazel-out
bazel-rust-sgx-sdk
bazel-testlogs

#libunwind
sgx_unwind/libunwind/INSTALL
sgx_unwind/libunwind/m4/*
sgx_unwind/libunwind/config/*
sgx_unwind/libunwind/include/config.h.*
sgx_unwind/libunwind/Makefile.in
sgx_unwind/libunwind/aclocal.m4
sgx_unwind/libunwind/autom4te.cache/*
sgx_unwind/libunwind/configure
sgx_unwind/libunwind/src/Makefile.in
