[package]
name = "tr-mpc-client"
version = "0.1.0"
authors = ["Webb Shi <bradyjoestar@gmail.com>"]

[dependencies]
chrono      = "0.4.5"
webpki      = "0.21"
rustls      = { version = "0.16",features = ["dangerous_configuration"] }
itertools   = "*"
sgx_types   =  { git = "https://github.com/baidu/rust-sgx-sdk.git" }
base64      = "0.9.2"
serde_json  = "1.0"
num-bigint  = "*"
bit-vec     = "*"
hex         = "*"

[patch.'https://github.com/baidu/rust-sgx-sdk.git']
sgx_types = { path = "../../../sgx_types" }
