[package]
name = "app"
version = "1.0.0"
authors = ["Piotr Roslaniec <p.roslaniec@gmail.com>"]
edition = '2018'

[dependencies]
sgx_types = { git = "https://github.com/baidu/rust-sgx-sdk.git" }
sgx_urts = { git = "https://github.com/baidu/rust-sgx-sdk.git" }
dirs = "1.0.2"

[patch.'https://github.com/baidu/rust-sgx-sdk.git']
sgx_types = { path = "../../../sgx_types" }
sgx_urts = { path = "../../../sgx_urts" }
